
/* defaults */

body {
    display: flex;
    flex-direction: column;
    margin: 0px;

    background-color: hsl(0, 0%, 20%);
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    height: 8vh;
    align-items: center;
    padding: 1.2rem;

    background-color: rgb(20, 20, 20);
    color: hsl(0, 100%, 100%);
}

.header ul {
    display: flex;
    gap: 1rem;

    margin: 0;
    padding: 0;
    list-style-type: none;
}

.header a {
    color: whitesmoke;
    text-decoration: none;
}

.header a:hover {
    opacity: .65;
}

/* intro */

.intro {
    display: flex;
    flex: 1 1 50vw;
    gap: 1.2rem;
    box-sizing: border-box;
    height: 92vh;
    padding: 1rem;
}

.intro img {
    width: 65vw;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    box-sizing: border-box;
    border-radius: 10%;
}

.intro h1 {
    font-size: 3vw;
}

.intro p {
    font-size: 1.5vw;
}

/* relevant info */

.relevant-info {
    background-color: whitesmoke;
    color: rgb(20, 20, 20);
    padding: 1rem;
}

.relevant-info h2 {
    font-size: 3rem;
    margin-top: 1rem;
}

.info {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    width: 15vw;
}

.info > img {
    outline: 5px solid hsl(0, 0%, 20%);
}

.relevant-info .container {
    display: flex;
    flex: 1 1 20%;
    justify-content: space-around;
}

/* photograph */

.photograph {
    display: flex;
    justify-content: center;
    align-items: center;

    aspect-ratio: 16 / 9;
    background-image: url(./images/4k-lake-background.jpeg);
    background-size: cover;
}

.photograph > * {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    aspect-ratio: 16 / 9;
    margin: 0;

    background-image: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.8), rgba(255,255,255,0));

    font-size: x-large;
}

/* signup form */

.signup {
    margin: 3rem;
}

.signup-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.signup-form > * {
    margin: 1rem;
    max-width: fit-content;
}

input {
    outline: none;
}

/* footer */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;

    background-color: rgb(20, 20, 20);
}

.footer ul {
    display: flex;
    gap: 1rem;

    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer a {
    color: whitesmoke;
}

.footer a:hover {
    opacity: .65;
}